html {
  font-size: 10px;
}
body {
  font-size: 12pt;
  padding: 10px;
}

#main-aside-wrapper section, #main-aside-wrapper nav,
#main-aside-wrapper main, #main-aside-wrapper aside {
  background-color: #ddd;
}
#main-aside-wrapper header {
  background-image: url(https://nik125y.github.io/foto/imageH.png);
  background-position: center;
  background-size: auto;
}
#main-aside-wrapper nav {
  /*justify-content: space-around;
  display: flex;
  order: 2;*/
  text-transform: uppercase;
  letter-spacing: .2em;
  }


#main-aside-wrapper footer {
  background-color: #7474d1;
  padding-left: 70px;
  padding-block: 10px;
  border-block-style: solid;
  border-block-width: 3px;
  border-inline-width: 3px;
  border-inline-style: solid;
}

#logo {
width: 100px;
height: 100px;
margin-inline: 20px;
margin-block: 20px;
float: left;
}

/*div.hed { 
  width: 65%;
  height: 50px;
  font-size: 20px;
  background-color: #d7ca9763;
  border-radius: 14px;
  display: flex;
  margin-block: auto;
}*/

tr:nth-child(odd) {
  background-color: antiquewhite;
}

tr:nth-child(even) {
  background-color: #d0c671;
}
#bg-ex-fixed{
  background: url(https://nik125y.github.io/foto/fon2.png); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}
