#main-aside-wrapper {
  display: flex;
  flex-direction: column;
}
#main-aside-wrapper section, #main-aside-wrapper nav,
#main-aside-wrapper main, #main-aside-wrapper aside {
  justify-content: center;
  display: flex;
  background-color: #ddd;
  margin: 10px; 
  padding: 10px;
}
#main-aside-wrapper header {
  flex: 1;
  order: 1;
  display: flex;
  background-image: url(imageH.png);
  background-position: center;
  background-size: auto;
}
#main-aside-wrapper nav {
  justify-content: space-around;
  display: flex;
  order: 2;
  text-transform: uppercase;
  letter-spacing: .2em;
  }
#main-aside-wrapper main {
  flex: 1;
  order: 4;
}
#main-aside-wrapper aside {
  flex: 3;
  order: 3;
  font-size: 12pt;
  font-family: "Courier New", monotype;
  font-weight: bold;
  font-style: italic;
  line-height: 120%
}
#main-aside-wrapper section {
  flex: 3;
  order: 5;
}
#main-aside-wrapper footer {
  flex: 3;
  order: 6;
  background-color: #7474d1;
  padding-left: 70px;
  padding-block: 10px;
  border-block-style: solid;
  border-block-width: 3px;
  border-inline-width: 3px;
  border-inline-style: solid;
}
 
@media screen and (min-width: 800px) {
  #main-aside-wrapper header {
    flex: 1;
    order: 1;
    justify-content: space-between;
    display: flex;
    margin: 10px;
    padding: 10px;
    background-image: url(imageH.png);
    background-position: right;
    background-size: auto;
  }
  #main-aside-wrapper main {
    flex: 1;
    order: 3;
    justify-content: center;
    display: flex;
  }
  #main-aside-wrapper aside {
    flex: 3;
    order: 4;
    font-size: 12pt;
    font-family: "Courier New", monotype;
    font-weight: bold;
    font-style: italic;
    line-height: 120%
  }
  .grid {
 display: grid;
 grid: 1fr 25% 30px / 40% 1fr;
 height: 200px;
 background-color: aliceblue;
}
}

#logo {
width: 100px;
height: 100px;
  margin-top: 0px;
margin-inline: 20px;
margin-block: 20px;
float: left;
}

div.hed { 
  width: 65%;
  height: 50px;
  font-size: 20px;
  background-color: #d7ca9763;
  border-radius: 14px;
  display: flex;
  margin-block: auto;
}

tr:nth-child(odd) {
  background-color: antiquewhite;
}

tr:nth-child(even) {
  background-color: #d0c671;
}
#bg-ex-fixed{
  background: url(fon2.png); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}
