header {
color: #400000;
<img style="float:left; margin:10px; width:100px; height:100px;" src="image.png" alt="Описание картинки для скрин-ридеров и поисковиков" />
background-color: red;

}

div.tab {
font-size: 12pt;
font-family: "Courier New", monotype;
font-weight: bold;
font-style: italic;
line-height: 120%
}
