header {
color: black;
background-color:grey; 
}
#logo {
width: 100px;
height: 100px;
margin-inline: 20px;
margin-block: 20px;
}
nav {
clear: both;
}
div.center { 
  max-width:620px; 
  background-color:#d5d0b0; 
  margin: auto; 
  margin-top:20px; 
  padding:10px;
}
div.tab {
font-size: 12pt;
font-family: "Courier New", monotype;
font-weight: bold;
font-style: italic;
line-height: 120%
}
#ch td {
  background-color:#b6cc4d;
}
#nch td {
  background-color:#4b5517;
}
